name: CI

# CINTENT >> MANUAL TRIGGER
# on: [ push ]
on: [repository_dispatch, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        runner: [ ubuntu-latest ]
    env:
      CC: clang-13
      CXX: clang++-13
    runs-on: ${{matrix.runner}}
    steps:
      - name: Checkout sources (including submodules)
      # CINTENT >> CHANGE_VERSION
      # - uses: actions/checkout@v2
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@a606c80c34ec190c6a20dea33d6d58ddb6c4e0cc

      - name: Setup Python environment
        uses: actions/setup-python@v2
        with:
          # CINTENT >> CHANGE_VERSION
          # python-version: 3.9
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip wheel
          pip install -r requirements.txt

      - name: Get latest CMake and ninja
        uses: lukka/get-cmake@latest

      - name: Setup SDE binaries
        uses: petarpetrovt/setup-sde@v1.2

      - name: Install Clang 13
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 13

      - name: Run PyTest
        run: python -m pytest

      - name: Run tox
        run: tox

      - name: Build package
        run: python -m build

      - name: Install package
        run: pip install dist/*.whl

#       # Skip running on macOS since the SDE simulator is too slow there
#       - name: Install apps deps
#         if: runner.os == 'Linux'
#         run: |
#           sudo apt update
#           sudo apt install g++-11

#       - name: Build apps with CMake
#         if: runner.os == 'Linux'
#         run: ./apps/build.sh

#       - name: Check apps run with CMake
#         if: runner.os == 'Linux'
#         run: ctest --output-on-failure
#         working-directory: build

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}